.ant-tabs-ink-bar {
  background-color: transparent;
}
.ant-tabs-tab {
  padding-left: 6.5rem;
  padding-right: 6.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #222529;
  font-size: 1rem;
  color: #c4cfde;
  font-weight: bolder;
  transition: ease 0.2s;
  width: 100% !important;
}
.ant-tabs-tab:hover {
  transition: ease 0.2s;
  box-shadow: inset -42px -42px 42px #202225;
}
.ant-tabs-tab {
  box-shadow: 10px 10px 19px #36363634, -10px -10px 19px #262a2e;
  transition: ease 0.2s;
}
.ant-tabs-nav-list {
  width: 100%;
}
.ant-tabs-nav {
  width: 100% !important;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    4px 1px 20px -1px rgba(255, 255, 255, 0);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  background-color: #222529;
  transition: ease 0.2s;
}
.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-bottom > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before,
.ant-tabs-bottom > div > .ant-tabs-nav::before {
  border-bottom: none;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #f9004d;
}

.ant-tabs-tab:hover {
  color: #f9004d;
  transition: ease 0.2s;
}

.tab-card {
  position: relative;
  background: rgb(33, 36, 40);
  z-index: 1;
  border-radius: 10px;
  box-shadow: -15px -20px 40px -40px rgba(255, 255, 255, 0.66),
    0 15px 25px rgba(0, 0, 0, 0.315);
}
.tab-card::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    83deg,
    rgba(33, 36, 40, 1) 0%,
    rgba(50, 55, 61, 1) 99%
  );
  z-index: -1;
  transition: all 0.2s linear;
  opacity: 0;
  border-radius: 10px;
}
.tab-card:hover::before {
  opacity: 1;
}
